<form #form='ngForm'>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input required matInput [(ngModel)]='formValue.name' name="name"
           (input)="onNameChange($event)" #nameInput='matInput' />
    <mat-error>
      Required
    </mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]='formValue.email' name="email" />
    <mat-error>Required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]='formValue.username' name="username" />
    <mat-error>Required</mat-error>
  </mat-form-field>

  <button mat-raised-button [disabled]='form.invalid'
          (click)='logUser()'>Submit</button>
</form>