<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName='name' #nameInput />
    <mat-error>
      Required
    </mat-error>
  </mat-form-field>

  {{form.get('name')?.errors | json}}

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName='email' />
    <mat-error>Required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput formControlName='username' />
    <mat-error>Required</mat-error>
  </mat-form-field>

  <button mat-raised-button [disabled]='form.invalid'
          (click)='submitForm()'>Submit</button>
</form>