.user-list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

:host-context(.dark-theme) {
    & > div {
        background-color: black !important;
    }
}

:host-context(.blue-theme) {
    & > div {
        background-color: blue !important;
    }
}
